__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

venv/
.venv/
env/
ENV/

stego_images/lsb/*
stego_images/dct/*
results/*

!stego_images/lsb/.gitkeep
!stego_images/dct/.gitkeep
!results/.gitkeep

.DS_Store
Thumbs.db
.idea/
.vscode/